.caja1{
    background-color: palevioletred;
    height: 70px;
}
.caja2{
    background-color: blueviolet;
    height: 1000px;
}
.caja3{
    background-color: brown;
    height: 1000px;
}
.caja4{
    background-color: blue;
    height: 500px;
}
.caja5{
    background-color: indigo;
    height: 500px;
}
.caja6{
    background-color: teal;
    height: 1000px;
}
.caja7{
    background-color: indianred;
    height: 500px;
}
.caja8{
    background-color: hotpink;
    height: 500px;
}
.caja9{
    background-color: thistle;
    height: 1000px;
}
.caja10{
    background-color:wheat;
    height: 500px;
}
.caja11{
    background-color: darkgreen;
    height: 500px;
}
.caja12{
    background-color: peru;
    height: 1000px;
}.caja13{
    background-color: rgb(123, 14, 14);
    height: 500px;
}
.caja14{
    background-color: rgb(113, 29, 71);
    height: 500px;
}
.caja15{
    background-color: rgb(162, 47, 162);
    height: 1000px;
}
.caja16{
    background-color:rgb(134, 90, 9);
    height: 500px;
}
.caja17{
    background-color: rgb(78, 162, 78);
    height: 500px;
}
